extends ../layouts/application
block before_start
  link(  rel="stylesheet", text="text/css", href="/static/stylesheets/application.css")


block content
  include ../datasets/index

block before_end
  script( src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" )
  script.
    (function( $ ){
      $(function(){
        $( '.btn-delete[data-type="sets"]' ).on( 'click', function( event ){
          event.preventDefault();

          set = $( this ).data( 'set' );
          console.log( set );
          $.ajax({
            url: '/sets/' + set,
            method: 'DELETE',
            dataType: 'json',
            success: function( data ){
              console.log( data );
              if( data.status == true ){
                window.location = '/sets';
              }
            }
          })
        })
      }) 
    })( jQuery )
