extends layouts/api

block content
  .sectionteal
    section
      .separator
        .line
        h2 Autorizar
        .line
      .clear
      #form.contact-form
        form( action='/dialog/authorize/decision', method='post')
          h1(style='color: #666') #{user.name}
          p(style='color:#555;') La aplicacion 
            b(style="font-weight: bold;") #{client_id.name} 
            | esta solicitando acceso a tu cuenta.
          fieldset.fsubmit(style="margin: 0 auto; float: none;")
            input(name='transaction_id', type='hidden', value='#{transactionID}')
            button.btn.btn-primary.btn-submit(type='submit', id='allow') Aceptar
            button.btn.btn-danger.btn-submit(type='submit', name='cancel', id='deny') Cancelar
