extends layouts/home
block before_start
  script(src="static/javascripts/modernizr.custom.js")

block content
  header
    .wrapper
      .content
        hgroup
          h1 LaData.CO
          h2 Plataforma de Datos Abiertos
            br 
            | Entregando datos, cambiando el mundo!
        .clear
        .read-on
          a.btn.btn-large.btn-block.btn-inverse(href="/login") Empezar a compartir mis datos.
        .clear
  a#about.scroll-point
  .sectiongrey
    section
      .separator
        .line
        h2 Acerca De
        .line
      .grid3
        p Ladata.co es una herramienta para desplegar y poner a disposicion de todos, datos de uso general y no sensible. Aun no sabes que es #OpenData? <a href="http://opendatahandbook.org/es/introduction/index.html" target="_blank">Aqui una breve introduccion <a href="http://opendatahandbook.org/es/introduction/index.html"></a>
        p En ladata.co encontraras diferentes conjuntos de datos abiertos (Open Data) utiles a la hora de crear cientos de aplicaciones webs/moviles o para cualquier tipo de uso. Aun no tenemos una licencia para los datos porque creemos que los datos son de todos y para todos.
  a#freebies.scroll-point
  .clear
  .sectionteal
    section
      .separator
        .line
        h2 Catalogo
        .line
      .grid3
        article.col
          figure
            img(src="static/images/dataset_001.jpg", alt="free-html5-template")
          h3
            a(href="/datasets/c655fe8c5d61894775279d982bde4f39")
              | DATASET
              br
              | Universidades De Colombia
          p En esta lista encontraras un listado de las universidades colombianas.
        article.col
          figure
            img(src="static/images/dataset_002.jpg", alt="free-html5-template")
          h3
            a(href="/datasets/e751f98294fa9826067228bc0ef0b99f")
              | DATASET
              br
              | Candidatos al Senado 2014
          p En esta lista encontraras la lista oficial de candidatos al senado de Colombia.
        article.col
          figure
            img(src="static/images/dataset_003.jpg", alt="free-html5-template")
          h3
            a(href="/datasets/f4b175a95b4ad4b0568b67b31a5b1f9e")
              | DATASET
              br
              | Deportistas Colombianos
          p En esta lista encontraras a los deportistas colombianos mas destacados del 2013.
  a#contact.scroll-point
  .clear
  .sectionorange
    section
      .separator
        .line
        h2 Contacto
        .line
      .clear
      #form.contact-form.shadow
        form#contact_form(method="post", action="#")
          input(type="hidden", name="csrf_token", value="")
          input(type="text", name="job-title-flx", value="", style="display:none;")
          input#lang(type="hidden", name="lang", value="en")
          h1 Te contestaremos en 24 Horas.
          fieldset
            label(for="name") Su nombre *
            input#name(type="text", name="name", value="", required)
            label(for="email") Su corre electronico *
            input#email(type="text", name="email", value="", required)
            label(for="phone") Telefono *
            input#phone(type="text", name="phone", value="", required)
          fieldset
            label(for="message") Su mensaje *
            textarea#message(name="message")
          .clear
            fieldset.fsbumit
              input#submit.btn.btn-primary.btn-submit( type="button", value="Enviar")
      #thanks.contact-form.hidden
        h1.color
          | Gracias
          span#client_name !
        .thanks-txt
      .bottom-shadow
      .no-shadow.hidden
      .clear
block before_end
  script( src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" )
  script.
    window.jQuery || document.write('<script src="static/javascripts/jquery-1.10.2.min.js"><\/script>');
  script(src="static/javascripts/jquery.carouFredSel-6.2.0.js", text="text/javascript")
  script( src="static/javascripts/jquery.localscroll-1.2.7.js" )
  script( src="static/javascripts/jquery.scrollTo-1.4.3.1.js")
  script( src="static/javascripts/home.js" )

