extends ../layouts/application

block before_start
  link(  rel="stylesheet", text="text/css", href="/static/stylesheets/application.css")
block content
  section
    .separator
      .line
      h2 App
      .line
    .clear
      section.sectiongrey
        h1(style="margin-bottom: 0;")= my_client.name
        p
          = my_client.description
          br
          = my_client.url

        ol.lists(style="width: 65%; text-align: left; margin: 0 auto; text-align: right;")
          li 
            strong(style="font-weight: bold; float: left;")  ID Cliente:
            = my_client.id
          li
            strong(style="font-weight: bold; float: left;") Llave Secreta:
            = my_client.secret
          li
            strong(style="font-weight: bold; float: left;") URL de regreso:
            = my_client.callback_url
          li 
            strong(style="font-weight: bold; float: left;") URL para el token: 
            | http://api.lvh.me:3000/oauth/token
          li 
            strong(style="font-weight: bold; float: left;") URL para Autorizar:
            | http://lvh.me:3000/dialog/authorize
          li 
            strong(style="font-weight: bold; float: left;") Token:
            - if( my_token ){
              = my_token.value.token
            - }else{
              form(action="/token", method="post")
                input(type="hidden",name="client[id]", value=my_client.id )
                input(type="hidden",name="client[secret]", value=my_client.secret )
                input.btn.btn-primary(type="submit", value="Crear Token")
            - }
        p(style="padding: 2em 0;")
          button.btn-delete.btn.btn-large.btn-danger(type="button", data-type="client", data-client=my_client.id) Eliminar
          button.btn.btn-large.btn-primary(type="button",onclick="javascript:history.back()") Regresar
block  before_end
  script( src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" )
  script.
   
    (function( $ ){
      $(function(){
        $( '.btn-delete[data-type="client"]' ).on( 'click', function( event ){
          event.preventDefault();

          client = $( this ).data( 'client' );
          console.log( client );
          $.ajax({
            url: '/clients/' + client,
            method: 'DELETE',
            dataType: 'json',
            success: function( data ){
              console.log( data );
              if( data.status == true ){
                window.location = '/clients';
              }
            }
          })
        })
      })
    })( jQuery )
