table{
  border-collapse: collapse;
  border-spacing: 0;
}
table th{
  border: 1px solid #CCCCCC;
  color: #555555;
  padding: 8px;
  text-align: center;
}
table, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}
table.lists,
table.clients{
  border: 1px solid #cccccc;
  margin: 0 -1px 24px 0;
  text-align: left;
  width: 100%;
}
table.lists caption,
table.clients caption{
  text-align: center;
  background-color: #EFEFEF;
  border: 1px solid #CCCCCC;
  border-bottom: none;
  font-weight: bold;
  padding: 5px;
}
table.lists tr,
table.clients tr{
  background-color: #FFF;
}
table.lists tr th,
table.lists thead th,
table.clients tr th,
table.clients thead th{
  color: #000;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  padding: 9px 24px;
}
table.lists tr td,
table.clients tr td{
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  padding: 6px 24px;
}

ol.lists{
  padding: .5em 1em;
}
ol.lists li{
  border-bottom: 1px solid #fff;
  border-top: 1px solid #ccc;
  padding: .5em 0;
}
ol.lists li:first-child{
  border-top: 0;
}
ol.lists li:last-child{
  border-bottom: 0;
}

button[type="button"]{
  cursor: pointer;
}
span.error{
  color: #f00 !important;
}
